
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header > div {
    background: aqua;
    min-width: 200 px;
}
.header .logo{
    background: green;
}
.header .profile{
    background: rgb(95, 15, 110);
}
.header .menu .ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    padding: 0 px;
    margin: 0 px;
}
.header .menu ul li{
    background: red;
    padding: 10 px;
    margin: 0 5px 0 0 ;
}
.header .menu ul li :last-child{
    margin: 0 px;
}
.header .menu ul li :hover{
    background-hover: chocolate;
}